Source: ducktop-shell
Section: shells
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
Priority: optional
Build-Depends: pkg-kde-tools,
               qt5-qmake,
               qtbase5-gles-dev,
               qtdeclarative5-dev,
               libqt5quick5-gles,
               libqt5gui5-gles,
               pkg-config,
               libudev-dev
Standards-Version: 4.5.1

Package: ducktop-shell
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains the Ducktop Shell, a ducky shell for mobile devices.